.switch {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 36px;
	box-sizing: border-box;
	overflow: hidden;
	transition: 0.2s all;
	--switch-text-color: var(--button-text-color);
	--switch-off-color: var(--button-background-color);
	--switch-on-color: var(--button-background-color);
	--switch-off-text: "Off";
	--switch-on-text: "On";
}

.switch input {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	z-index: 3;
	cursor: pointer;
}

.switch .knob {
	flex: none;
	width: auto;
	height: 100%;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	transition: 0.2s all;
	box-sizing: border-box;
	border-radius: 3px;
	aspect-ratio: 1;
}

.switch .state {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 3px;
	border-radius: 6px;
	transition: 0.2s all;
	background-color: var(--switch-on-color);
	color: var(--switch-text-color);
}

.switch input:checked + .state {
	background-color: var(--switch-off-color);
}

.switch .state::before, .switch .state::after {
	transition: 0.2s all;
	overflow: hidden;
	flex-basis: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.switch .state::before {
	content: var(--switch-on-text);
	flex-grow: 1;
}

.switch .state::after {
	content: var(--switch-off-text);
	flex-grow: 10000;
	font-size: inherit;
}

.switch input:checked + .state::before {
	flex-grow: 10000;
	font-size: inherit;
}

.switch input:checked + .state::after {
	flex-grow: 1;
}