.switch {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 36px;
	box-sizing: border-box;
	overflow: hidden;
	background-color: var(--switch-background-color);
	border: 1px solid var(--switch-color);
	border-radius: 6px;
	transition: 0.2s all;
	--switch-text-color: var(--button-text-color);
	--switch-color: var(--button-background-color);
	--switch-background-color: var(--background-color);
	--switch-off-text: "✕";
	--switch-on-text: "✓";
}

.switch .checkbox {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	z-index: 3;
	cursor: pointer;
}

.switch .knob {
	flex: none;
	width: auto;
	height: 100%;
	border-radius: 6px;
	color: var(--switch-text-color);
	background-color: var(--switch-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	transition: 0.2s all;
}

.switch .knob::before {
	content: var(--switch-off-text);
}

.switch .checkbox:checked + .state .knob::before {
	content: var(--switch-on-text);
}

.switch .state {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 3px;
}

.switch .state::before, .switch .state::after {
	content: '';
	display :block;
	transition: 0.2s all;
}

.switch .state::before {
	flex-grow: 1;
}

.switch .state::after {
	flex-grow: 10000;
}

.switch .checkbox:checked + .state::before {
	flex-grow: 10000;
}

.switch .checkbox:checked + .state::after {
	flex-grow: 1;
}