:root {
	--word-length: 5;
	--flip-time: 0.8s;
	--tile-size: 60px;
	--tile-font-size: 36px;
	--keyboard-width: 480px;
}

@media screen and (max-width: 400px), screen and (max-height: 700px) {
	:root {
		--tile-size: 50px;
		--tile-font-size: 30px;
	}
}

@media screen and (max-width: 300px), screen and (max-height: 600px) {
	:root {
		--tile-size: 40px;
		--tile-font-size: 24px;
	}
}

@keyframes shake {
	20%, 60% {
		transform: translate3d(-3px, 0, 0);
	}
	40%, 80% {
		transform: translate3d(3px, 0, 0);
	}
}

.tile {
	--tile-background-color: var(--white);
	--tile-border-color: var(--light-grey);
	--tile-text-color: var(--black);
}

.tile[state=correct] {
	--tile-background-color: var(--green);
	--tile-border-color: var(--green);
	--tile-text-color: var(--white);
}

.tile[state=valid] {
	--tile-background-color: var(--yellow);
	--tile-border-color: var(--yellow);
	--tile-text-color: var(--white);
}

.tile[state=invalid] {
	--tile-background-color: var(--grey);
	--tile-border-color: var(--grey);
	--tile-text-color: var(--white);
}

.tile[state=wrong] {
	--tile-background-color: var(--red);
	--tile-border-color: var(--red);
	--tile-text-color: var(--white);
}

#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

#board {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-size: var(--tile-font-size);
	font-weight: 700;
	width: 100%;
	padding: 12px;
	min-height: 0;
	gap: 6px;
}

#board .row {
	flex: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 6px;
}

#board .row.shake {
	animation: shake 0.5s;
}

#board .tile {
	flex: none;
	width: var(--tile-size);
	height: var(--tile-size);
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	transform-style: preserve-3d;
	transition: transform var(--flip-time);
}

#board .tile .front, #board .tile .back {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	border-radius: 2px;
	backface-visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#board .tile .front {
	color: var(--text-color);
	border: var(--border-color) solid 1px;
	background-color: var(--background-color);
}

#board .tile .back {
	transform: rotateY(180deg);
	background-color: var(--tile-background-color);
	color: var(--tile-text-color);
}

#board .tile[flipped=true] {
	transform: rotateY(-180deg);
}

#board #day {
	margin-top: 12px;
	color: var(--subtle-text-color);
	font-size: 18px;
	text-align: center;
}

#keyboard {
	flex: none;
	width: 100%;
	max-width: var(--keyboard-width);
	padding: 12px;
}

#keyboard .row {
	display: grid;
	justify-content: center;
	grid-template-rows: 1fr;
	height: 50px;
	color: var(--dark-grey);
	font-size: 14px;
	font-weight: 700;
}

#keyboard .top {
	grid-template-columns: repeat(10, 2fr);
}

#keyboard .middle {
	grid-template-columns: 1fr repeat(9, 2fr) 1fr;
}

#keyboard .bottom {
	grid-template-columns: 3fr repeat(7, 2fr) 3fr;
}

#keyboard input[type=button] {
	margin: 3px;
	border-radius: 4px;
	border-width: 0;
	font: inherit;
	color: var(--button-text-color);
	background-color: var(--button-background-color);
}

#keyboard .letter {
	text-transform: uppercase;
	transition: background-color 1s, color 1s;
}

#keyboard .letter[state=correct] {
	background-color: var(--green);
	color: var(--white);
}

#keyboard .letter[state=valid] {
	background-color: var(--yellow);
	color: var(--white);
}

#keyboard .letter[state=invalid] {
	background-color: var(--grey);
	color: var(--white);
}

#keyboard .letter[state=wrong] {
	background-color: var(--red);
	color: var(--white);
}