@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import 'settings/switch.css';

:root {
	--green: #78B159;
	--yellow: #FDCB58;
	--red: #DD2E44;
	--black: #151515;
	--grey: #A7A7A8;
	--white: #FEFEFE;
	--shadow: rgba(49, 55, 61, 0.2);
	--header-height: 48px;
}

body[theme=light] {
	--background-color: #FEFEFE;
	--border-color: #E8E8E8;
	--text-color: #2E2E2E;
	--subtle-text-color: #E8E8E8;
	--icon-color: #E8E8E8;
	--icon-hover-color: #2E2E2E;
	--button-background-color: #2E2E2E;
	--button-text-color: #FEFEFE;
	--keyboard-background-color: #E8E8E8;
	--keyboard-text-color: #2E2E2E;
	--toast-background-color: #2E2E2E;
	--toast-text-color: #FEFEFE;
	--pane-background-color: #FEFEFE;
}

body[theme=dark] {
	--background-color: #212121;
	--border-color: #2E2E2E;
	--text-color: #A9A9A9;
	--subtle-text-color: #2E2E2E;
	--icon-color: #A9A9A9;
	--icon-hover-color: #FEFEFE;
	--button-background-color: #121212;
	--button-text-color: #FEFEFE;
	--keyboard-background-color: #121212;
	--keyboard-text-color: #A9A9A9;
	--toast-background-color: #121212;
	--toast-text-color: #FEFEFE;
	--pane-background-color: #212121;
}

html, body {
	height: 100%;
	overflow: hidden;
}

div {
	box-sizing: border-box;
}

a {
	color: var(--icon-hover-color);
}

@media (hover: hover) {
	a:hover {
		color: var(--icon-color);
	}
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

header {
	padding: 0 12px;
	height: 48px;
	display: flex;
	background-color: var(--background-color);
	z-index: 3;
	position: relative;
}

header a {
	text-decoration: none;
}

header .title {
	flex: 1;
	text-align: center;
	line-height: 48px;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);
}

header .left, header .right {
	line-height: var(--header-height);
	flex: none;	
}

header .button {
	display: inline-block;
	margin: 0 2px;
	color: var(--icon-color);
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	width: 24px;
}

@media screen and (max-width: 400px) {
	header .button {
		margin: 0;
		font-size: 16px;
		width: 20px;
	}
}

header .button:hover {
	color: var(--icon-hover-color);
}

main {
	height: calc(100% - var(--header-height));
	position: relative;
}

main > * {
	position: absolute;
	height: 100%;
	width: 100%;
}

.preload * {
	transition: none !important;
}

.no-display {
	display: none;
}

.hidden {
	opacity: 0 !important;
	pointer-events: none;
}

.toast {
	background: var(--toast-background-color);
	color: var(--toast-text-color);
	border-radius: 6px;
	box-shadow: 0 3px 6px var(--shadow);
	font-weight: 600;
	cursor: inherit;
}

.toast.large {
	font-weight: 700;
	font-size: 20px;
}

#game {
	opacity: 1;
}

.pane {
	overflow: auto;
	box-sizing: border-box;
	padding: 12px;
	background-color: var(--pane-background-color);
	z-index: 2;
	opacity: 1;
	transition: opacity 0.2s;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pane .fill {
	flex: 1 1 auto;
}

.pane section {
	flex: none;
	width: 100%;
	max-width: 480px;
	font-size: 16px;
	margin: 12px 0;
}

.pane section > * {
	margin: 12px 0;
}

.pane h1 {
	font-size: 24px;
	font-weight: 700;
}

.pane .stats {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 3px 12px;
}

.pane .stats > * {
	flex: 1 1 160px;
	display: flex;
	justify-content: space-between;
}

.pane .button {
	width: 100px;
	height: 40px;
	color: var(--button-text-color);
	display: inline-block;
	background-color: var(--button-background-color);
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
}

.example {
	height: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(var(--word-length), 40px);
	gap: 6px;
}

.example .tile {
	color: var(--tile-text-color);
	border: var(--tile-border-color) solid 1px;
	border-radius: 2px;
	background-color: var(--tile-background-color);
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.stats .value {
	font-size: 16px; 
	text-align: right;
	margin-bottom: 6px;
}

.stats .label {
	font-size: 16px; 
}

.heatmap {
	width: 100%;
}

.heatmap > div {
	position: relative;
	height: 24px;
}

.heatmap .bar {
	display: inline-block;
	position: absolute;
	border-radius: 6px;
	background-color: var(--border-color);
	min-width: 0;
	height: 12px;
	top: 6px;
	left: 24px;
}

.heatmap .label {
	display: inline;
	position: absolute;
	font-size: 16px;
	line-height: 24px;
}