@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
	--header-height: 48px;
	--green: #6AAA64;
	--yellow: #FFBF46;
	--red: #B61F1F;
	--black: #020202;
	--light-grey: #E0E0E1;
	--grey: #A7A7A8;
	--dark-grey: #474748;
	--white: #FEFEFE;
	--shadow: rgba(72, 72, 72, 0.2);
}

body[theme=light] {
	--background-color: var(--white);
	--border-color: var(--light-grey);
	--text-color: var(--black);
	--icon-color: var(--light-grey);
	--icon-hover-color: var(--black);
	--subtle-text-color: var(--light-grey);
	--button-background-color: var(--light-grey);
	--button-text-color: var(--dark-grey);
	--toast-background-color: var(--dark-grey);
	--toast-text-color: var(--white);
	--pane-background-color: var(--white);
}

body[theme=dark] {
	--background-color: var(--black);
	--border-color: var(--dark-grey);
	--text-color: var(--white);
	--icon-color: var(--dark-grey);
	--icon-hover-color: var(--white);
	--subtle-text-color: var(--dark-grey);
	--button-background-color: var(--light-grey);
	--button-text-color: var(--dark-grey);
	--toast-background-color: var(--dark-grey);
	--toast-text-color: var(--white);
	--pane-background-color: var(--black);
}

html, body {
	height: 100%;
	overflow: hidden;
}

div {
	box-sizing: border-box;
}

a {
	color: var(--icon-hover-color);
}

a:hover {
	color: var(--icon-color);
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
}

header {
	padding: 0 12px;
	height: 48px;
	display: flex;
	background-color: var(--background-color);
	z-index: 3;
	position: relative;
}

header a {
	text-decoration: none;
}

header .title {
	flex: 1;
	text-align: center;
	line-height: 48px;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--text-color);
}

header .left, header .right {
	line-height: var(--header-height);
	flex: none;	
}

header .button {
	display: inline-block;
	margin: 0 2px;
	color: var(--icon-color);
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	width: 24px;
}

@media screen and (max-width: 400px) {
	header .button {
		margin: 0;
		font-size: 16px;
		width: 20px;
	}
}

header .button:hover {
	color: var(--icon-hover-color);
}

main {
	height: calc(100% - var(--header-height));
	position: relative;
}

main > * {
	position: absolute;
	height: 100%;
	width: 100%;
}

.preload * {
	transition: none !important;
}

.no-display {
	display: none;
}

.hidden {
	opacity: 0 !important;
	pointer-events: none;
}

.toast {
	background: var(--toast-background-color);
	color: var(--toast-text-color);
	border-radius: 6px;
	box-shadow: 0 3px 6px var(--shadow);
	font-weight: 600;
	cursor: inherit;
}

.toast.large {
	font-weight: 700;
	font-size: 20px;
}

#game {
	opacity: 1;
}

.pane {
	box-sizing: border-box;
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--pane-background-color);
	overflow-y: scroll;
	z-index: 2;
	opacity: 1;
	transition: opacity 0.2s;
}

.pane section {
	width: 100%;
	max-width: 480px;
	font-size: 16px;
}

.pane section > * {
	margin-bottom: 12px;
}

.pane h1 {
	font-size: 24px;
	font-weight: 700;
}

.pane section > :last-child {
	margin-bottom: 24px;
}

.pane .button {
	width: 100px;
	height: 40px;
	color: var(--toast-text-color);
	display: inline-block;
	background-color: var(--toast-background-color);
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-weight: 700;
}

.pane #share.button {
	color: var(--white);
	background-color: var(--green);
}

.example {
	height: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(var(--word-length), 40px);
	gap: 6px;
}

.example .tile {
	color: var(--tile-text-color);
	border: var(--tile-border-color) solid 1px;
	border-radius: 2px;
	background-color: var(--tile-background-color);
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6px;
	width: 100%;
}

.stats .value {
	font-size: 16px; 
	text-align: right;
	margin-bottom: 6px;
}

.stats .label {
	font-size: 16px; 
}

.heatmap {
	display: grid;
	grid-template-columns: 12px 1fr;
	grid-template-rows: repeat(6, 18px);
	gap: 6px;
	width: 100%;
}

.heatmap > div {
	display: grid;
	grid-column-end: span 2;
	grid-template-columns: subgrid;
	align-items: center;
}

.heatmap .bar {
	border-radius: 6px;
	background-color: var(--border-color);
	box-sizing: border-box;
	min-height: 12px;
	height: 12px;
}

.heatmap .label {
	font-size: 16px;
	line-height: 18px;
}